.heading{
    font-family: 'Syne Mono', monospace;
    font-weight: 900;
    font-family: 'Abril Fatface', cursive;
}
.From{
    border: 1px solid #111430;
    margin:40px;
    margin-left: 600px;
    margin-right: 600px;
    padding: 30px;
    color: #111430;
}
.btn{
    background-color: #111430;
    color: #ffffff;
    border: 1px 1px solid #111430;
    outline: none;
    border-radius:5px;
    height:40px;
    width:180px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.btn:hover{
    border: 2px solid #111430;
    background-color: #ffffff;
    color: #111430;
    border-radius:5px;
    font-weight:700;
}
.btn-google{
    border: 1px  solid #111430;
    outline: none;
    height:40px;
    width:180px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius:20px;
    background-color: #111430;
    color: #ffffff;
}